/* Wrapper styles */

.ab-Wrapper_Pink {
    background-color: #E3C8FD;
}

.ab-Wrapper_Yellow-1, .ab-Wrapper_Yellow-2,.ab-Wrapper_Yellow-3, .ab-Wrapper_Yellow-4 {
    background-color: #FFFCC0;
}

.ab-Wrapper_White {
    background-color: #FFFFFF;
}

/* ---------------------------------- */

/* Image styles */
.ab-ImageDiv {
    text-align: center;
    padding: 1em 0 1em;
}

.ab-Image {
    width: 275px;
    max-width: 100%;
    height: auto;
}

/* ---------------------------------------- */

/* Text styles */
.ab-Text-pdr, .ab-Text-pdl{
    height: min-content;
}

.ab-Link {
    color: black;
    text-decoration: none;
}

.ab-Link:hover {
    color: #FFFCC0;
}
/* ---------------------------------------- */

/* Form styles */

.ab-Form { 
    width: min-content;
    margin: auto;
}

/* ---------------------------------------- */

/* Responsive styles */

@media (max-width: 575.98px) {
    
    .ab-Wrapper_Yellow-1, .ab-Wrapper_Yellow-3, .ab-Wrapper_White {
        /* When small make picture go before text in partucular cases */
        flex-direction: column-reverse;
    }

    .Wrapper {
        font-size: 1.1rem!important;
    }

    .row {
        padding: 0!important;
    }

    .ab-Form {
        margin-bottom: 1em;
    }
    
}


/* Large to small */
@media (max-width: 991.98px) and (min-width: 576px) {
    .Wrapper {
        font-size: 1.4rem!important;
    }
}
/* ----------------------------------------------- */


@media (min-width: 576px) {

    /* Main block styles */
    
        .ab-Text-pdr{
            padding-right: 5%;
        }
    
    }
    
@media (min-width: 768px) {

/* Main block styles */

    .ab-Text-pdr {
        padding-right: 10%;
    }

    .ab-Text-pdl {
        padding-left: 5%;
    }
}

@media (min-width: 992px) {

/* Main block styles */

    .ab-Text-pdr {
        padding-right: 15%;
    }

}

@media (min-width: 1200px) {

/* Main block styles */

    .ab-Text-pdr {
        padding-right: 20%;
    }

    .ab-Text-pdl {
        padding-left: 10%;
    }
}

@media (min-width: 1400px) {

/* Main block styles */

    .ab-Text-pdr {
        padding-right: 25%;
    }

}

@media (min-width: 1600px) {

/* Main block styles */

    .ab-Text-pdr {
        padding-right: 30%;
    }

    .ab-Text-pdl {
        padding-left: 15%;
    }
}