@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

body {
	/* background-color: #CAFAFE; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Appearance */
.top-nav-bar {
	background-color: #3500D3;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 1.3em;
	font-weight: 100;
}
.top-nav-bar > a {
	color: rgb(215, 219, 223);
	padding: .65em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.top-nav-bar > a:hover {
	background: #240090;
	color: rgb(252, 252, 252);
}

/* The Magic */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.top-nav-bar {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}