.body-clothes, .leg-clothes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.body-clothes img{
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 370px;
    top: 100px;
    margin: auto;
    z-index: 1;
}

.leg-clothes {
    z-index: 1;
}

body {
    background-color: #ebeeef;

}

img {
    width: 40%;
}

.leg-clothes img {
    width: 50%;
    display: inline-block;
    position: absolute;
    left: 6px;
    right: 0;
    top: 410px;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.container {
    display: block;
    width: 900px;
    height: 900px;
    text-align: center;
    min-height: 100px;
    position: relative;
}

.buttons-top {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 550px;
}

.buttons-leg {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 250px;
}