/* || General styles */

.content {   /* Centering rows in container */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

#main-header {
    margin-bottom: 1em;
}

/* -------------------------------------- */

/* || Image styles */
div.landing-images {
    text-align: center;
    padding: 1em 0 1em;
}


img.landing-images {
    max-width: 100%;
    height: auto;
}

/* --------------------------------------- */

/* || Text styles */
.main-block {
    height: min-content;
}

/* --------------------------------------- */

/* Button styles */

form.start {
    width: min-content;
    margin: auto;
}

input.start {
    background-color: #80F6C1;
    border: none;
    padding: 0.25rem 0.75rem;
}

input.start:hover {
    background-color: #E3C8FD;
}

/* ------------------------------------------ */

@media (max-width: 575.98px) { 
/* Bootstrap xs < 576px but max-width is <= 576, so i needed to use 575.98 for simultanious changes*/
    /* General styles */
    .content {
        font-size: 1.1rem;
    }

    /* ------------------------------------------ */

    /* Main block styles */

    form.start {
        margin-bottom: 1em;
    }

    #main-header {
        margin-bottom: 0.5em;
    }

    /* ------------------------------------------ */
}

@media (min-width: 576px) {

/* Main block styles */

    .main-block {
        padding-right: 5%;
    }

}

@media (min-width: 768px) {

/* Main block styles */

    .main-block {
        padding-right: 10%;
    }
}

@media (min-width: 992px) {

/* Main block styles */

    .main-block {
        padding-right: 15%;
    }
}

@media (min-width: 1200px) {

/* Main block styles */

    .main-block {
        padding-right: 20%;
    }
}

@media (min-width: 1400px) {

/* Main block styles */

    .main-block {
        padding-right: 25%;
    }
}

@media (min-width: 1600px) {

/* Main block styles */

    .main-block {
        padding-right: 30%;
    }
}