/* || General styles */

.mn-Wrapper {   /* Centering rows in container */
    align-items: center;
    justify-content: space-around;
}

/* -------------------------------------- */

/* || Image styles */
.mn-ImageDiv {
    text-align: center;
    padding: 1em 0 1em;
}


.mn-Image {
    max-width: 100%;
    height: auto;
}

/* --------------------------------------- */

/* || Text styles */
.mn-TextDiv {
    height: min-content;
}

/* --------------------------------------- */

/* Button styles */

.mn-Form {
    width: min-content;
    margin: auto;
}

/* ------------------------------------------ */

@media (max-width: 575.98px) { 
/* Bootstrap xs < 576px but max-width is <= 576, so i needed to use 575.98 for simultanious changes*/
    /* General styles */
    .mn-Wrapper {
        font-size: 1.1rem;
    }

    /* ------------------------------------------ */

    /* Main block styles */

    .mn-SubmitButton {
        margin-bottom: 1em;
    }

    .mn-Header {
        margin-bottom: 0.5em!important;
    }

    /* ------------------------------------------ */
}

@media (min-width: 576px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 5%;
    }

}

@media (min-width: 768px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 10%;
    }
}

@media (min-width: 992px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 15%;
    }
}

@media (min-width: 1200px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 20%;
    }
}

@media (min-width: 1400px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 25%;
    }
}

@media (min-width: 1600px) {

/* Main block styles */

    .mn-TextDiv {
        padding-right: 30%;
    }
}

@media (max-width: 991.98px) and (min-width: 576px) {
    .mn-Wrapper {
        font-size: 1.4rem!important;
    }
}

@media (max-width: 767.98px) {
    .mn-Wrapper_Content {
        padding: 0!important;
    }
}