{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <title></title>       
    </head>
    <body>
        <header class="header">
            <nav class="top-nav-bar" style="--items: 6;">
                <a href="{% url 'index' %}">О нас</a>
                <a href="{% url 'main:main' %}">Главная</a>
                <a href="{% url 'suggestion' %}">Пожелания</a>
                <a href="{% url 'main:register' %}">Регистрация</a>
                <a href="{% url 'closet:index' %}">Примерочная</a>
                {% if user.is_authenticated %}
                  <a href="{% url 'logout' %}">Выйти</a>
                {% else %}
                  <a href="{% url 'main:login' %}">Войти</a>
                {% endif %}
            </nav>
        </header>
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>