<!DOCTYPE html>
  {% extends "main/base.html" %}
      {% block body_block %}
      {% load static %}
        <div class="placeholder"></div>
        <p id="creditals-hint">
            Главная страница
        </p>
        <!-- <a href="{% url 'index' %}">
            <button id="to-main-btn">Go back</button>
        </a> -->
        <p>Здесь будет все.</p>
        <div>
            <img src="{% static 'images/image.jpg' %}" alt="Here should be an image.">
        </div>
        <div class="wp-table">
            {% if webpages %}
                <table>
                    <thead>
                        <th>Site Name</th>
                        <th>Url</th>
                    </thead>
                    <tbody>
                        {% for webpage in webpages %}
                        <tr>
                            <td><a class="webpage-link" href="{{ webpage.id }}">{{ webpage.name|cut:'Nelson' }}</a></td>
                            <td>{{ webpage.url }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>NO ACCESS RECORDS FOUND</p>
            {% endif %}   
      {% endblock %}