<!DOCTYPE html>
{% extends 'main/base.html' %}
  {% block body_block %}
    {% load static %}
        <script src="{% static 'js/suggestion.js' %}"></script>
            <p id="warning"></p>
            <p id="creditals-hint">
                Что нужно исправить или добавить?
            </p>
            <form method="POST">
                {{suggestion_form.as_p}}
                {% csrf_token %}
                <input type="submit" class="send-btn" value="Отправить">
            </form>
  {% endblock %}