{% extends 'main/base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main/about.css' %}">
<div class="Wrapper">
    <div class="row ab-Wrapper_Pink p-2">
        <div class="col-xs-12 col-sm-4">
            <div class="ab-ImageDiv">
                <img class="ab-Image" src="{% static 'images/about_images/About1.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 d-flex align-items-center">
            <div class="ab-Text-pdr">
            <h1 class="pb-1">Шаг 1 - Перейди в <a class="ab-Link" href="{% url 'closet:index' %}">Образы</a></h1>
                <p>
                    На этой странице находится главный функционал. 
                    Там ты можешь подобрать любую одежду всех доступных брендов на свой вкус.
                </p>
            </div>
        </div>
    </div>
    <div class="row ab-Wrapper_Yellow-1">
            <div class="col-xs-12 col-sm-8 d-flex align-items-center">
                <div class="ab-Text-pdl">
                    <h1 class="pb-1">Шаг 2 - Упра<wbr>вление</h1>
                    <p>
                        Используй стрелки в отделе одежды чтобы менять предметы гардероба в нем.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="ab-ImageDiv">
                    <img class="ab-Image" src="{% static 'images/about_images/About2.jpg' %}" alt="">
                </div>
            </div>
    </div>
    <div class="row ab-Wrapper_Yellow-2">
        <div class="col-xs-12 col-sm-4">
            <div class="ab-ImageDiv">
                <img class="ab-Image" src="{% static 'images/about_images/About3.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 d-flex align-items-center">
            <div class="ab-Text-pdr">
                <p> Ты можешь настроить фильтры по бренду и цвету для каждого из отделов.</p>
            </div>
        </div>
    </div>
    <div class="row ab-Wrapper_Yellow-3">
        <div class="col-xs-12 col-sm-8 d-flex align-items-center">
            <div class="ab-Text-pdl">
                <p>
                    Cохраняй пригля<wbr>нувшийся тебе образ на свой аккаунт либо скачай на компьютер.
                    Ты также можешь сохрянять отдельные предметы одежды.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="ab-ImageDiv">
                <img class="ab-Image" src="{% static 'images/about_images/About4.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row ab-Wrapper_Yellow-4">
        <div class="col-xs-12 col-sm-4">
            <div class="ab-ImageDiv">
                <img class="ab-Image" src="{% static 'images/about_images/About5.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 d-flex align-items-center">
            <div class="ab-Text-pdr">
                <p>Чтобы развернуть меню, используй эту кнопку.</p>
            </div>
        </div>
    </div>
    <div class="row ab-Wrapper_White p-2">
        <div class="col-xs-12 col-sm-8 d-flex align-items-center">
            <div class="ab-Text-pdl">
                <h1 class="pb-1">Шаг 3 - Создавай свои образы!</h1>
                <p>
                    Находи новые сочетания, стили и образы. Делись ими в соц. сетях или используй перед
                     походами по магазинам. Вперёд!
                </p>
                <form class="ab-Form mt-2" method="get" action="{% url 'closet:index' %}">
                    <input class="SubmitButton" type="submit" value="Начать" />
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="ab-ImageDiv">
                <img class="ab-Image" src="{% static 'images/about_images/About6.jpg' %}" alt="">
            </div>           
        </div>
    </div>
</div>
{% endblock %}